#
# GRAFANA
# 

GF_SECURITY_ADMIN_USER=<your-admin-username>
GF_SECURITY_ADMIN_PASSWORD=<your-secure-password>
GF_SERVER_DOMAIN=localhost
GF_SERVER_ROOT_URL=http://localhost:3000
# smtp  
#GF_SMTP_ENABLED=true
#GF_SMTP_HOST=smtp.example.com:587
#GF_SMTP_USER=user@example.com
#GF_SMTP_PASSWORD=smtp_password
#GF_SMTP_FROM_ADDRESS=grafana@example.com
# gauth
#GF_AUTH_GOOGLE_CLIENT_ID=your_client_id
#GF_AUTH_GOOGLE_CLIENT_SECRET=your_client_secret
