[
  {
    "targets": ["a.a.a.a:9100"],
    "labels": {
      "instance": "backend",
      "env": "uat"
    }
  },
  {
    "targets": ["b.b.b.b:9100"],
    "labels": {
      "instance": "backend",
      "env": "sit"
    }
  }
]
