route:
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 30m
  receiver: slack
templates:
  - '/etc/alertmanager/templates.d/*.tpl'
receivers:
  - name: "slack" 
    slack_configs:
      - channel: '#<your-slack-channel>'
        api_url: 'https://hooks.slack.com/services/<YOUR>/<WEBHOOK>/<URL>'
        color: '{{ template "slack.color" . }}'
        title: '{{ template "slack.title" . }}'
        text: '{{ template "slack.text" . }}'
        send_resolved: true
        actions:
          - type: button
            text: 'Runbook :green_book:'
            url: '{{ (index .Alerts 0).Annotations.runbook_url }}'
          - type: button
            text: 'Query :mag:'
            url: '{{ (index .Alerts 0).GeneratorURL }}'
          - type: button
            text: 'Dashboard :chart_with_upwards_trend:'
            url: '{{ (index .Alerts 0).Annotations.dashboard_url }}'
          - type: button
            text: 'Silence :no_bell:'
            url: '{{ template "__alert_silence_link" . }}'
